@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);










#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .nav-link {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  color: #ffffff;
}
#menu-0 .navbar-brand {
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
}
#msg-box4-6 .mbr-section-title {
  font-family: 'Noto Sans', sans-serif;
}
#msg-box4-6 .lead P {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#content4-4 H4 {
  font-family: 'Noto Sans', sans-serif;
}
#content4-4 P {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
#content4-5 H4 {
  font-family: 'Noto Sans', sans-serif;
}
#content4-5 P {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
#msg-box5-11 .mbr-section-title {
  font-family: 'Noto Sans', sans-serif;
}
#msg-box5-11 .lead P {
  text-align: left;
}
#form1-13 .mbr-section-title {
  font-size: 36px;
}
#social-buttons2-t .mbr-section-title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
}
#contacts1-i UL {
  color: #ffffff;
}





#menu-18 .navbar-toggler {
  color: #ffffff;
}
#menu-18 .nav-link {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  color: #ffffff;
 
}
#menu-18 .navbar-brand {
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
 
}
#testimonials1-1i .mbr-section-title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 36px;
}
#testimonials1-1i .card-block EM {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}
#form1-1f .mbr-section-title {
  font-size: 36px;
}
#social-buttons2-1g .mbr-section-title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
}
#contacts1-1h UL {
  color: #ffffff;
}





#slider2-1r P {
  color: #ffffff;
}
#header3-1x H3 {
  font-size: 15px;
}
#content5-1s .mbr-section-title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 36px;
}
#content5-1s P {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
#menu-1k .navbar-toggler {
  color: #ffffff;
}
#menu-1k .nav-link {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
}
#menu-1k .navbar-brand {
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
}
#social-buttons1-1t .mbr-section-title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 22px;
}
#contacts1-1o UL {
  color: #ffffff;
}



#msg-box5-2g .mbr-section-title {
  text-align: center;
}
#social-buttons1-25 .mbr-section-title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 22px;
}
#menu-23 .navbar-toggler {
  color: #ffffff;
}
#menu-23 .nav-link {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
}
#menu-23 .navbar-brand {
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
}
#contacts1-26 UL {
  color: #ffffff;
}



#header3-27 SMALL {
  font-size: 16px;
}
#slider2-28 P {
  color: #ffffff;
}
#menu-2b .navbar-toggler {
  color: #ffffff;
}
#menu-2b .nav-link {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  color: #ffffff;
}
#menu-2b .navbar-brand {
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
}
#social-buttons1-2d .mbr-section-title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 22px;
}
#contacts1-2e UL {
  color: #ffffff;
}
